body{

    font-size: 150%;

    background: repeating-linear-gradient(22.5deg, rgba(255,255,255,0.07) 0px, rgba(255,255,255,0.07) 1px,transparent 1px, transparent 21px,rgba(255,255,255,0.07) 21px, rgba(255,255,255,0.07) 22px,transparent 22px, transparent 62px,rgba(255,255,255,0.07) 62px, rgba(255,255,255,0.07) 63px,transparent 63px, transparent 123px),repeating-linear-gradient(112.5deg, rgba(255,255,255,0.07) 0px, rgba(255,255,255,0.07) 1px,transparent 1px, transparent 21px,rgba(255,255,255,0.07) 21px, rgba(255,255,255,0.07) 22px,transparent 22px, transparent 62px,rgba(255,255,255,0.07) 62px, rgba(255,255,255,0.07) 63px,transparent 63px, transparent 123px),repeating-linear-gradient(67.5deg, rgba(255,255,255,0.07) 0px, rgba(255,255,255,0.07) 1px,transparent 1px, transparent 21px,rgba(255,255,255,0.07) 21px, rgba(255,255,255,0.07) 22px,transparent 22px, transparent 62px,rgba(255,255,255,0.07) 62px, rgba(255,255,255,0.07) 63px,transparent 63px, transparent 123px),repeating-linear-gradient(157.5deg, rgba(255,255,255,0.07) 0px, rgba(255,255,255,0.07) 1px,transparent 1px, transparent 21px,rgba(255,255,255,0.07) 21px, rgba(255,255,255,0.07) 22px,transparent 22px, transparent 62px,rgba(255,255,255,0.07) 62px, rgba(255,255,255,0.07) 63px,transparent 63px, transparent 123px),linear-gradient(90deg, rgb(52, 143, 234),rgb(13, 130, 247));

    margin: 25px;

    background-attachment: fixed;

    font-family: Tahoma, Geneva, sans-serif;

}

.zahlavi{

    grid-area: zahlavi;

    position: relative;

    top: 25%;

}

.tabulka{

    grid-area: tabulka;

}

.tlacitka{

    grid-area: tlacitka;

    z-index: 1;

    text-align: center;

    margin-top: 25px;

}

.obrazek{

    grid-area: obrazek;

    margin-top: 25px;

}

.note{

    grid-area: note;

}

.obsah{

    background-color: rgba(255, 255, 255, 0.7);

    padding: 25px 50px;

    margin: 25px auto;

    border-radius: 20px;

    display: grid;

    grid-template-areas: 

    'zahlavi tabulka'

    'tlacitka obrazek'

    'note obrazek'

    '. footer'

    ;

    grid-template-columns: 1fr 1fr;

    grid-column-gap: 5px;

}

em{

    font-style: italic;

}

h1{

    font-weight: bold;

    text-align: center;

    margin-top: 25px;

    margin-bottom: 50px;

    font-size: 3rem;

    font-family: georgia,serif;

}

img{

    width: 45rem;

    display: block;

    margin: auto;

}

ul{

    display: inline-flex;

}

.btn1{

    width: 20%;

    height: 3.8rem;

    font-size: 1.3rem;

    padding: 10px;

    background: none;

    font-weight: bold;

    border: 2px solid #000000;

    margin: 10px 20px;
    
    transition: 0.3s ease-in-out;

    -webkit-transition: 0.3s ease-in-out;

}

.btn1:hover{

    border: 2px solid #000000;

    border-radius: 20px;

    background-color: rgb(124, 190, 255);

    cursor: pointer;

}

p{

    padding: 5px 0;

    line-height: 1.5rem;

}

footer{

    vertical-align: bottom;

    text-align: right;

    margin-top: 10px;

}

.ftr{

    grid-area: footer;

}

th{

    padding: 10px;

    font-weight: bold;

}

td{

    padding: 7px;

    width: 25%;

    border: 3px solid #285a88;

    text-align: center;

    vertical-align: middle;

}

.note{

    font-size: 1.3rem;

    display: block;

    margin-bottom: 0;

}

